<%-# 
# Developed By Munsoft IT Solutions
# Developers: ABUBAKAR UMAR PANTAMI, MUSA AHMADU, ALIYU NASIR, USMAN IBN MUHAMMAD
# Website: http:///wwww.munsoft.com.ng
# Email: info@munsoft.com.ng -%>

<div id="error-box">
<ul>
  <% errors.errors.each_full do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
</div>